body {
    /* llamar al body del html */
    background-color: rgb(38, 97, 46);
    color: azure;
    background-image: repeating-conic-gradient(
        in lab,
        burlywood,
        blueviolet 120deg
      );
}

header {
    background-image: repeating-conic-gradient(
        in lab,
        burlywood,
        blueviolet 120deg
      );
    margin: 50px
}

footer {
    background-image: repeating-linear-gradient(
        in oklch,
        burlywood,
        blueviolet 120deg
      );
    margin: 50px
}

h1 {
    font-size: 10rem;

}

h6 {
    font-size: 2rem;
}

.XD{
    text-align: center;
}
p {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
}

.color-verde {
    color: rgb(38, 97, 46);

}

.color-azul {
    color: rgb(rgb(38, 97, 46));
    ;
}

.color-azules {
    color: aquamarine;
}


#Duro {
    font-size: 7rem;
    color: rgb(38, 97, 46);
}

.Encabezado {
    text-align: center;
    font-size: 7rem;
}

.Imagen-Bomba {
    margin-left: 25% ;
    width: 500px;
    height: 500px;
}
.Imagen-Terreno {
    margin-left: 0,5% ;
    width: 500px;
    height: 500px;
}
.Github{
    text-align: center;
    font-size: 2rem;
}

.Enlace-Github{
    text-align: center;
}
.Wismi{
    margin-left: 0,5% ;
    width: 500px;
    height: 500px;
    
}